<footer class="flex flex-col h-[70px] items-center justify-center text-center text-sm">
  <p class="mb-1">© 2024 Vittorya Aglair</p>
  <a href="https://is.gd/XVOJfE" target="_blank" class="text-gray-500 hover:underline">
    Feito com o Minimalistic Astro Blog Theme
  </a>
</footer>